.App {
  padding: 50px;
  height: 100vh;
}

.outerCard {
  height: 100%;
  width: 100%;
}

.header {
  padding-bottom: 20px;
}

.inputContent {
  display: inline-block;
}

.inputTextBox {
  width: 75%;
}

.inputButtonContainer {
  padding-left: 20px;
  width: 20%;
}

.inputButton {
  width: 100%
}

.inputLabel {
  width: 5%;
}

.scrollBox {
  margin-top: 10px;
  overflow: auto;
  max-height: 380px;
}

.noteCard {
  margin-bottom: 5px;
}

.createdAt {
  text-align: right;
  padding-bottom: 10px;
}

.sortSelection {
  text-align: right;
  padding-right: 10px;
  font-size: 24px;
  padding-top: 10px;
}

.inactiveSort {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.voteButton {
  display: inline-block;
  width: 50%;
  background:purple;
  border-color: purple;
}

.voteText {
  font-size: 24px;
  padding-right: 10px;
}

.votingBox {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: right
}